// Define variables for your color scheme
$navy: #6759D4;
$mint: rgb(28, 214, 206);
$red:rgb(214, 28, 78);
$yellow: rgb(254, 219, 57);

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FF9B05;;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
