// Specific CSS for your home-page

main {
  min-height: 100vh;
  max-height: fit-content;
}

.home-section-background {
  height: 100vh;
  text-align: center;
  border-top: 5px solid $yellow;
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: #040C39;
  background-position: center;
  color: white;
  position: relative;
  .call-to-act-container{
    position: absolute;
    width: 100%;
    bottom: 2rem;
    a {
      border-radius: 0.3rem;
      @include legend-btn;
    }
    p {
      margin-top: 0.3rem;
    }
  }
}
