// Specific CSS for your home-page
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1465' height='560' preserveAspectRatio='none' viewBox='0 0 1465 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='1465' height='560' x='0' y='0' fill='rgba(103%2c 89%2c 212%2c 1)'%3e%3c/rect%3e%3cpath d='M732.5 648.15C831.71 641.28 924.02 611.23 1001.95 549.45 1092.22 477.85 1187.76 394.89 1196.74 280 1206.15 159.57 1136.93 46.22 1047.68-35.18 962.37-112.97 847.79-149.59 732.5-143.4 623.19-137.52 526.05-81.28 449.45-3.05 373.8 74.23 322.83 171.95 318.01 280 312.94 393.15 338.3 514.29 423 589.5 504.6 661.99 623.63 655.67 732.5 648.15' fill='rgba(112%2c 99%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M732.5 518.22C796.7 513.77 856.43 494.32 906.85 454.35 965.26 408.02 1027.08 354.34 1032.89 280 1038.98 202.08 994.19 128.73 936.44 76.06 881.24 25.72 807.1 2.03 732.5 6.03 661.77 9.84 598.92 46.23 549.35 96.85 500.4 146.86 467.42 210.08 464.3 280 461.02 353.22 477.43 431.6 532.23 480.27 585.03 527.17 662.06 523.08 732.5 518.22' fill='rgba(123%2c 111%2c 218%2c 1)'%3e%3c/path%3e%3cpath d='M732.5 388.28C761.68 386.26 788.83 377.42 811.75 359.25 838.3 338.19 866.4 313.79 869.04 280 871.81 244.58 851.45 211.24 825.2 187.3 800.11 164.42 766.41 153.65 732.5 155.47 700.35 157.2 671.78 173.74 649.25 196.75 627 219.48 612.01 248.22 610.59 280 609.1 313.28 616.56 348.91 641.47 371.03 665.47 392.35 700.48 390.49 732.5 388.28' fill='rgba(132%2c 121%2c 221%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1465' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: 26%;
}

main {
  min-height: 100vh;
  max-height: fit-content;
}

section {
  padding: 1rem;
}

.home-section-background {
  height: 100vh;
  text-align: left;
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  color: white;
  position: relative;
  svg {
    width: 63%;
    color: #FF9B05;
  }
  .call-to-act-container{
    width: 100%;
    a {
      border-radius: 0.3rem;
      @include legend-btn;
    }
    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }
}
