<section>
  <h2>booking index</h2>
  <% @bookings.each do |item| %>
    <%= link_to booking_path(item) do %>
      <article class="booking-index-article">
        <p>Booking for <%= item.kid.first_name.capitalize %></p>
        <p>At <%= item.activity.title %></p>
        <p><%= sanitize item.formated_booking_start %></p>
      </article>
    <% end %>
  <% end %>
</section>
