<nav class="legend-navbar">
  <%= link_to root_path do %>
    <i class="fa-regular fa-calendar"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
  <%= link_to edit_user_registration_path do %>
    <i class="fa-regular fa-user"></i>
  <% end %>
</nav>
