<section class="home-section-background">
  <div class="call-to-act-container">
    <%= link_to "Let's go", user_session_path, class: 'legend-btn' %>
    <p>organise moments with your kids</p>
  </div>
</section>
