<section class="home-section-background" style="background-image: url(<%= asset_path 'legendaddy.png' %>);">
  <div class="call-to-act-container">
    <% unless user_signed_in? %>
      <%= link_to "Let's go", user_session_path, class: 'legend-btn' %>
      <p>organise moments with your kids</p>
    <% else %>
      <%= link_to "Let's go", activities_path, class: 'legend-btn' %>
      <p>organise moments with your kids</p>
    <% end %>
  </div>
</section>
