@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500;1,700&family=Lobster&display=swap');


.activities_content{
  // margin: 10px;
  border-radius: 5px;
}

.activity_title{
  font-family: 'Lobster', cursive;
  color: #270335;
  padding-top: 10px;
}

.activity_description{
  font-family: 'DM Sans', sans-serif;
  color: #000000df;
  font-weight: 700;
}

.title_description{
  border-radius: 5px;
  padding: 20px;
}


.title_description a{
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 8px #040c3929;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
