.booking-show-container {
  color: white;
  .img-div-banner {
    min-height: 15rem;
    min-width: 10rem;
    max-height: 20rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 6rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    margin-bottom: 1rem;
    h2 {
      color: white;
    }
  }
  .delete-btn {
    align-items: flex-end;
    i {
      color: $blue
    }
  }

  .blue-button {
    margin-top: 2em;
    width: 100%;
  }
}

.review-star {
  color: $yellow;

}

#booking-show{
  p {
    color: #6658D3;
    margin: 0 auto;
    text-align: center;
  }
}
