$hours: 12;
$hour-height: 60px;

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: 60px 1fr;
  overflow: hidden;
  padding-top: 2px;
}

.calendar-head {
  color:white;
}

.timeline {
  p {
    height: 60px;
    margin: 0;
    position: relative;
    top: -5px;
    color: #e2ebf2d8;
  }
  p:after {
    content: "";
    border-top: 2px dashed #e2ebf2d8;
    width: 100vw;
    display: block;
    position: absolute;
    top: 3px;
    left: 100%;
    z-index: -1;
  }
}


.days {
  display: grid;
  grid-template-rows: repeat($hours * 60, $hour-height * $hours / ($hours * 60));
}

.event {
  background: rgb(211, 217, 239);
  border-radius: 10px;
  color: #2f2e2e;
  align-items: center;
  // border: 1px dashed #6657D3;
  position: relative;
  z-index: 1;

  p {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}


.start-at-0 {
  grid-row-start: 1;
}

@for $i from 1 through $hours * 60 {
  .start-at-#{$i} {
    grid-row-start: $i;
  }

  .duration-#{$i} {
    grid-row-end: span $i;
  }
}

.title {
  font-size: 17px;
}

.schedule {
  font-size: 17px;
}

.activity-result {
  font-size: 15px;
  a {
    text-decoration: none !important;
    color: white;
}
}

.link {
  text-decoration: none !important;
}

.activities-button{
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  background: #6657D3;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
  margin-bottom: 25px;
}

.yellow-button {
  color: black;
  padding: 9px 40px;
  border-radius: 5px;
  background: #FF9B05;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
  margin-bottom: 25px;
  width: 100%;
}

.nav-item {
  color: white;
}

.booking {
  background: rgb(211, 217, 239);
  border-radius: 10px;
  color: #2f2e2e;
  align-items: center;
  border-left: 10px solid #FF9B05;
  position: relative;
  z-index: 1;

  p {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;

    title {
      font-size: 20px;
    }
  }
}

.form-modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  z-index: 2; /* Sit on top */
}

.form-modal-content {
  background-color: #fefefe;
  z-index: 3;
  position: relative;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.form-overlay {
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  height: 100%;
  width: 100%;
  position: absolute;
}
