$hours: 12;
$hour-height: 60px;

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: 60px 1fr;
  overflow: hidden;
  padding-top: 2px;
}

.calendar-head {
  color:white;
}

.timeline {

  p {
    height: 60px;
    margin: 0;
    position: relative;
    top: -5px;
    color: #e2ebf2d8;
  }

  p:after {
    content: "";
    border-top: 2px dashed #e2ebf2d8;
    width: 100vw;
    display: block;
    position: absolute;
    top: 3px;
    left: 100%;
    z-index: -1;
  }
}


.days {
  display: grid;
  grid-template-rows: repeat($hours * 60, $hour-height * $hours / ($hours * 60));
}

.event {
  background: #e2ebf2d8;
  border-radius: 5px;
  color: #2f2e2e;;
  align-items: center;
  border: 1px dashed #6657D3;
  position: relative;
  z-index: 1;

  p {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}


.start-at-0 {
  grid-row-start: 1;
}

@for $i from 1 through $hours * 60 {
  .start-at-#{$i} {
    grid-row-start: $i;
  }

  .duration-#{$i} {
    grid-row-end: span $i;
  }
}

.title {
  font-size: 17px;
}

.schedule {
  font-size: 17px;
}

.activity-result {
  font-size: 15px;
  a {
    text-decoration: none !important;
    color: white;
}
}

.link {
  text-decoration: none !important;
}

.yellow-button-a{
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  background: #FF9B05;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
  margin-bottom: 25px;
}

.yellow-button {
  color: white;
  padding: 9px 35px;
  border-radius: 5px;
  background: #FF9B05;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
  margin-bottom: 25px;
}

.nav-item {
  color: white;
}

.booking {
  background: #e2ebf2d8;
  border-radius: 5px;
  color: #2f2e2e;
  align-items: center;
  border-left: 10px solid #FF9B05;
  position: relative;
  z-index: 1;

  p {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;

    title {
      font-size: 20px;
    }
  }
}
