@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500;1,700&family=Dancing+Script:wght@400;700&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&family=Oswald:wght@300;400;500;600;700&family=Righteous&display=swap');

.activity-content{
  border-radius: 5px;
}

.box-description{
  position: center;
  background-color: #6658D3;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #040c3929;
  text-align: center;
  color: #f2f2f7;
}


.box-description img{
  width: 100%;
  height: 400px;
  overflow: hidden;
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
}
.secondary_title{
  font-weight: bold;
  padding: 20px;
  font-family: 'Epilogue', sans-serif;
  font-size: 40px;
  color: #fefeff;
  text-align: center;
}

.font-style{
  font-family: 'DM Sans', sans-serif;
}

  .blue-button{
    color: #6658D3;
    padding: 12px 24px;
    border-radius: 5px;
    background: #ffffff;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
    margin: 0px auto;
    width: 300px;
    position: relative;
    i {
      position: absolute;
      background: #6658d3;
      padding: 8px;
      border-radius: 5px;
      color: white;
      left: 12px;
      transition: all 250ms ease;
    }
    button {
      position: relative;
      color: #6658D3;
      border: navajowhite;
      background: transparent;
      flex-grow: 1;
    }
    i.activated {
      left: 80%;
    }
  }

  .space-bottom{
    padding-bottom: 20px;
  }

  .custom-modal {
    position: fixed;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    padding-bottom: 70px;
    z-index: 1;
    background: #000000c2;
    left: -100vw;
    top: 0;
    transition: all 250ms ease;
    &.activated {
      left: 0;
    }
  }

  .btn-close{
    position: absolute;
    right: 40px;
  }

  .return_button{
    padding: 8px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff52;
    transition: all 250ms ease;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .return_button:hover{
    background: #ffffff89;
    color: #ffffff;
  }

  .return_button a:hover{
    color: #6658D3;
  }

  .fa-solid{
    color: #ffffff;
  }


  .site{
    color: rgb(68, 21, 96);
    transition: all 0.5s ease;
    text-decoration: none;

  }
  .site:hover{
    color: #7f5f8a;
  }

  .info-card{
    padding: 10px;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    margin-left: 8px;
  }

  .info-card a{
    text-decoration: none;
    color: #ffffffb9;
    transition: all 0.5s ease;
  }

  .info-card a:hover{
    color: #ffffff;
  }

  .info-card h6{
    font-size: 20px;
  }

  .description-card{
    height: 200px;
    overflow: scroll;
  }
