.legend-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 3.5rem;
  background-color: white;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  padding: 1rem;
  z-index: 1;
  .active {
    color: rgb(82, 82, 82);
  }
  a {
    text-decoration: none;
    i {
      font-size: 1.8rem;
      color: rgb(188, 188, 188);
    }
  }
  a:nth-child(3) {
    position: relative;
    margin-bottom: 3.5rem;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0px 0px 3px $navy;
    background: linear-gradient(43deg, #6759D4, #d8d5ec);
    i {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 1rem;
      color: white;
    }
  }
}
