.legend-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background-color: $navy;
  box-shadow: 0px -2px 3px $yellow;
  border-radius: 0rem 0rem 1rem 1rem;
  a {
    color: black;
    text-decoration: none;
    i {
      font-size: 2rem;
      color: $yellow;
    }
  }
  a:nth-child(2) {
    margin-bottom: 4rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 6px $yellow;
    background-color: $navy;
  }
}
