.legend-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background-color: white;
  .active {
    color: $mint
  }
  a {
    text-decoration: none;
    i {
      font-size: 1.8rem;
      color: $navy;
    }
  }
  a:nth-child(3) {
    margin-bottom: 4rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 3px $navy;
    background-color: white;
    i {
      font-size: 2rem;
      color: $red;
    }
  }
}
