@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500;1,700&family=Dancing+Script:wght@400;700&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&family=Oswald:wght@300;400;500;600;700&family=Righteous&display=swap');

.profile-form-content {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  border-radius: 1rem;
  height: 818px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: flex-end;
  form { width: unset; }
  .form-actions {
    text-align: right;
    padding: 0 20px;
  }
  input[type="submit"] {
    color: white;
    background-color: $navy;
    border-radius: 5px !important;
  }
}

.form-btn {
  margin: 2rem;
  color: $navy;
  text-decoration: none;
}

.modification-content{
  margin: 5px 10px 20px 10px;
  color: #6658D3;
}

.modification-content h2{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

.delete-account{
  margin: 20px 20px 10px 20px;
  color: rgb(0, 0, 0);
}


.delete-account h3{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

.legend-form-container input[type="submit"]{
  border-radius: 5px !important;
}

.rounded{
  border-radius: 5px !important;
  margin-left: 4rem;
}

.delete-button{
  margin: 20px;
  padding: 8px 10px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #6658D3;
  height: 40px;
}

a.delete-button{
  color:#6658D3;
  text-decoration: none;
  text-align: center;
}
