@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500;1,700&family=Lobster&display=swap');

.activity-content{
  margin: 20px;
  border-radius: 5px;
}

.box-description{
  position: center;
  background-color: #e2ebf2d8;
  text-align: center;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #040c3929;
}


.secondary_title{
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #040C39;
}

.font-style{
  font-family: 'DM Sans', sans-serif;
}

.blue-button{
  color: white;
  padding: 7px 24px;
  border-radius: 5px;
  background: #040C39;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(82, 82, 84, 0.2);
  margin-bottom: 25px;
}

  .blue-button:hover {
    background: #4d869477;
    color: white;
    transition: all 0.5s ease;
  }

  .fa-solid{
    color:#040C39;
  }

  .site{
    color: black;
    transition: all 0.5s ease;
    text-decoration: none;

  }
  .site:hover{
    color: #5f658a;
  }

  .info-card{
    padding: 10px;
    box-sizing: border-box;
  }

  .info-card a{
    text-decoration: none;
    color: #2a388a;
    transition: all 0.5s ease;
  }

  .info-card a:hover{
    color: #5f658a;
  }

  // .map{
  //   margin: 30px;
  //   right: 30px;
  // }
