  <div data-controller="togglemodal" class="space-bottom">
    <div class="d-flex blue-button align-items-center">
      <i class="fa-solid fa-arrow-right" data-togglemodal-target="arrow"></i>
      <button type="button" class="" data-action="click->togglemodal#slideopen">
        Renseigne tes dispos !
      </button>
    </div>
