<div class="container" data-controller="activity-search">
  <%= simple_form_for :query,
                    url: search_activities_path,
                    method: :get,
                    html: {
                      data: {
                        action: "submit->activity-search#search",
                        'activity-search-target'=>'form'
                      }
                    } do |f| %>
  <%= f.input :tag_list,
              as: :check_boxes,
              collection: ActsAsTaggableOn::Tag.all,
              value_method: :name,
              checked: params.dig(:query, :tag_list),
              input_html: {
                class: "tag-selector",
                data: { action: "click->activity-search#search" }
              },
              item_wrapper_class: 'tag-item'%>
  <% end %>


  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="activities" data-activity-search-target="activities">
        <%= render 'list', filtered_activities: @filtered_activities %>
      </div>
    </div>
  </div>
  <div data-activity-search-target="map">
    <%= render 'map', markers: @markers %>
  </div>

</div>
